{{define "base"}}
<!doctype html>
<html>

<head>
  <meta charset='utf-8'>
  <title>{{template "title" .}} - matcha</title>
  <link href="/static/css/base.css" rel="stylesheet">
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  <script src="https://unpkg.com/htmx.org@2.0.2"
    integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ"
    crossorigin="anonymous"></script>
</head>

<body class="h-full bg-slate-200">
  {{template "nav"}}
  <main class="pt-6">
    {{template "main" .}}
  </main>
</body>

</html>
{{end}}