{{define "nav"}}
    <nav class="w-full flex bg-teal-900 py-7 mb-7 justify-around relative">
        <div id="home-nav" class="text-xl text-slate-300 font-bold font-mono hover:text-teal-300 active:text-slate-300">
            <a href="/">HOME</a>
        </div>
        <div class="h-full">
            <a href="/">
                <img src="/static/img/logo.png" class="h-28 absolute transform -translate-x-1/2 -translate-y-6" />
            </a>
        </div>
        <div id="profile-nav" class="text-xl text-slate-300 font-bold font-mono hover:text-teal-300 active:text-slate-300">
            <a href="/">PROFILE</a>
        </div>
    </nav>
{{end}}