{{define "nav"}}
<nav class="w-full flex bg-teal-900 py-7 mb-7 justify-around relative">
  <div id="user-nav" class="text-xl text-slate-300 font-bold font-sans hover:text-teal-300 active:text-slate-300">
    <a href="/">USER</a>
  </div>
  <div id="profile-nav" class="text-xl text-slate-300 font-bold font-sans hover:text-teal-300 active:text-slate-300">
    <a href="/">PROFILE</a>
  </div>
  <div class="h-full">
    <a href="/">
      <img src="/static/img/logo.png" class="h-28 absolute transform -translate-x-1/2 -translate-y-6" />
    </a>
  </div>
  <div id="search-nav" class="text-xl text-slate-300 font-bold font-sans hover:text-teal-300 active:text-slate-300">
    <a href="/">SEARCH</a>
  </div>
  <div id="chat-nav" class="text-xl text-slate-300 font-bold font-sans hover:text-teal-300 active:text-slate-300">
    <a href="/">CHAT</a>
  </div>
</nav>
{{end}}